/* Importing Variables. */
@import '../../../../../variables.scss';
.bg-modal{
    background-color: #0000006b;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modalBox{
        background-color: #ffffff;
        border-radius: 12px;
        border: 2px solid $color-bq1;
        padding: 30px 20px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 295px;
        height: fit-content;
        min-height: 160px;
        position: relative;
        .icon {
            position: absolute;
            right: 20px;
            top: 20px;
            color: $color-bq1;
        }
        h4 {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
        }
        .cont-btn {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}
