<div class="orderDetailContainer ">

        <div class="headerList">
            <span class="pedido">Pedido para : </span>
            <div class="orderInfo">
                <div class="row-input">
                    <label for="clientName"> Nombre</label>
                    <input 
                      type="text" 
                      id="clientName"
                      class="inputName"
                      placeholder="María"
                      [value]="order.customer"
                      (input)='onChangeCustomer($event)'
                    >
                </div>
                <div class="row-input">
                    <label for="mesa"> Mesa</label>

                    <select 
                      name="mesa" 
                      id="mesa" 
                      class="inputName"
                      (change)='onChangeTable($event)'
                    >
                        <option hidden selected value="">- Seleccione -</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
                
                  
        </div>
        <div class="rowItem">
            <p class="name">Producto</p>
            <p class="qty">Cantidad</p>
            <p class="subtotal">P.U</p>
            <p class="subtotal">Subtotal</p>
        </div>
        <div class="containerItems" *ngIf="items.length">
            <app-order-item  
              *ngFor="let item of items;"
              [item] = item
              (updateQuantity)="updateQuantity($event)"
              (itemToRemove)="removeItem($event)" 
            >
            </app-order-item>
        </div>
        <p *ngIf="!items.length" class="placeholder">- Agregue productos a su orden - </p>
        <div class="botom-row">
          <button 
            class="btnSend btn-ppal"
            [disabled]="sendOrderButtonIsDisabled"
            (click)="saveOrderEmiter.emit()"
            >
             Enviar a Cocina
          </button>
  
          <div class="total">
              <p>TOTAL: ${{ items | calculateTotal }}</p>
          </div>

        </div>
        
</div>