/* Importing Variables. */
@import '../../../../../variables.scss';


.orderDetailContainer {
    width: 40vw;
    border: 2px solid $color-bq1;
    padding: 30px;
    height: 450px;
    padding-inline: 15px;
    border-radius: 18px 18px 18px 0;
    background-color: #f4f4f4;
    font-family: $secondary-font;
    position: relative;
    .headerList {
        border-bottom: 1px solid $color-bq1;
        width: 100%;
        margin-bottom: 30px;
        padding-bottom: 10px;
        .order {
            font-weight: bold;
        }
        .orderInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
            .row-input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 10px;
                width: 50%;
                label {
                    font-size: 14px;
                    margin-bottom: 0;
                }
                .inputName {
                    height: 32px;
                    border-radius: 4px;
                    border: 2px solid $color-bq1;
                    padding-inline: 8px;
                    margin-top: 0px;
                    width: 100%;
                }
            }

        }
        
       
    }
    .rowItem {
        display: flex;
        align-items: center;
        height: 35px;
        flex-wrap: nowrap;
        column-gap: 10px;
        margin-bottom: 10px;
        line-height: 13px;
        font-weight: bold;
        cursor: default;
        .name {
            padding-left: 20px;
            width: 45%;
        }
        .qty {
            width: 15%;
        }
        .subtotal {
            width: 20%;
            text-align: right;
        }
    }
    .containerItems {
        overflow-y: scroll;
        max-height: 215px;
    }
    .placeholder {
        color: grey;
        text-align: center;
    }
    .total {
        position: absolute;
        bottom: 20px;
        right: 30px;
        font-weight: bold;
        text-align: right;
        width: 100%;
    }
    .btnSend {
        position: absolute;
        bottom: 30px;
        left: 14px;
    }
}
