/* Importing Variables. */
@import '../../../../../variables.scss';

.card {
    border: 1px solid $color-bq1;
    border-radius: 18px 18px 18px 0;
    padding: 20px;
    padding-inline: 28px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 170px;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
    img {
        width: 60px;

        justify-self: flex-start;
    }
    .name{
        text-align: center;
        font-family: $fte-ppal;
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        display: block;
        margin-top: 12px;
        margin-bottom: 5px;
    }
    .price{
        text-align: center;
        font-family: $fte-sec;
        font-size: 14px;
    }
}