<div class="bgPedidos">
    <h2 class="titleSection">Crear Pedido</h2>
     <div
       *ngIf="!createOrderRequest.isLoading" 
       class="orderMenu">
        <app-menu (selectProduct)="addItemToOrder($event)"></app-menu>
        <app-order-detail 
          [order]="newOrder" 
          (orderChangeEmiter)="updateOrder($event)"
          (saveOrderEmiter)="saveOrder()"
        >
        </app-order-detail>
   </div>
   <div id="spinner-wrapper" *ngIf="createOrderRequest.isLoading">
      <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
   </div>
</div>