<div class="bgPedidos">
    <h2 class="titleSection">Crear Pedido</h2>
     <div
       *ngIf="!createOrderRequest.isLoading" 
       class="orderMenu">
        <app-menu (selectProduct)="addItemToOrder($event)"></app-menu>
        <app-order-detail 
          [order]="newOrder" 
          (orderChangeEmiter)="updateOrder"
          (orderSaveChangeEmiter)="saveOrder"
        >
        </app-order-detail>
        <!-- en vez de clear order emitir directamente crear orden que deberia estar en este componente -->
   </div>
   <div *ngIf="createOrderRequest.isLoading">
      <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
   </div>
</div>