/* Importing Variables. */
@import '../../../../../variables.scss';

.bgOrders{
    background-color: $color-bq4;
    height: fit-content;
    min-height: 91vh;
    padding: 40px;
    padding-inline: 30px;
    .titleSection {
        font-family: $primary-font;
        color: #171616;
        margin-bottom: 30px;
    }
    .orderMenu {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}