<div class="containerButtons ">
    <button class="secondary-button" [class.selectedBtn]="selectedMenu === 'Desayuno'" (click)="changeMenu('Desayuno')">Desayuno</button>
    <button class="secondary-button" [class.selectedBtn]="selectedMenu === 'Almuerzo'" (click)="changeMenu('Almuerzo')">Almuerzo</button>
</div>
<div  class="containerCards">
    <app-product-card *ngFor="let item of products" [product] = item (click)="addProduct(item)"></app-product-card>
    <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>