/* Importing Variables. */
@import '../../../../../variables.scss';

.containerButtons {
    display: flex;
    column-gap: 20px;
    margin-bottom: 30px;
}
.menuBtn {
    height: 35px;
    width: 110px;
    border-radius: 10px;
    background-color:  $color-bq2;
    color: white;
    border: 0;
    cursor: pointer;
}

.selectedBtn {
    background-color: $color-bq1;
    transform: scale(1.1);
    font-weight: bold;
    box-shadow: 2px 2px 3px rgb(171, 171, 169);
}
.containerCards {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    column-gap: 15px;
    row-gap: 15px;
}