.rowItem {
    display: flex;
    align-items: center;
    height: 35px;
    flex-wrap: nowrap;
    column-gap: 10px;
    margin-bottom: 10px;
    .counter {
        display: flex;justify-content: center;
        align-items: center;
        column-gap: 8px;
        width: 35%;
        span{
            text-align: center
        };
    }
    .icon {
        color: #535151;
        cursor: pointer;
        &:hover {
            transform: scale(1.05);
        }
    }
    .name {
        width: 40%;
        cursor: default;
        line-height: 13px;
        margin-bottom: 0 !important;
    }
    .subtotal {
        width: 20%;
        text-align: right;
        cursor: default;
        line-height: 13px;
        margin-bottom: 0 !important;
    }
}
