<div class="rowItem">
    <i class="fa-regular fa-trash-can icon" (click)="itemToRemove.emit(product?.product?.id)"></i>
    <p class="name">{{product?.product?.name}}</p>
    <div class="counter">
        <i class="fa-solid fa-circle-minus icon" (click)="modifyQuantity(product?.product?.id ?? null , -1)"></i>
        <span>{{product?.qty}}</span>
        <i class="fa-solid fa-circle-plus icon" (click)="modifyQuantity(product?.product?.id ?? null, +1)"></i>
    </div>
    <p class="subtotal">${{product?.product?.price}}</p>
    <p class="subtotal">${{ subtotal }}</p>
</div>
