/* Importing Variables. */
@import '../../../../variables.scss';
.headerContainer {
    width: 100%;
    height: 9vh;
    background-color: $color-bq2;
    display: flex;
   padding-inline: 40px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
        width: 80px;
    }
    .navContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        nav {
            color: #ffffff;
            font-family: $primary-font;
            width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
                text-decoration: none;
                color: #ffffff;
                &:active {
                    text-decoration: none;
                    font-weight: bold;
                }
                &:hover {
                    transform: scale(1.05);
                }
            }

        }
        .profile{
            background-color: #ffffff;
            border-radius: 50%;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            box-shadow: 2px 3px 2px #80808045;
            .fa-user{
                margin-top: -5px;
                color: $color-bq2;
            }
        }
    }
    .menu {
        display: none;
        background-color: #ffffff;
        width: 200px;
        height: 120px;
        position: absolute;
        right: 5px;
        top: 9vh;
        border-radius: 0 0 15px 15px;
        padding-left: 10px;
        flex-direction: column;
        justify-content: center;
        font-family: $primary-font;
        z-index: 3;
        .personalInfo {
            font-weight: bold;
            color: $color-bq2;
            font-size: 15px;
        }
        .role {
            text-transform: capitalize;
        }
        p{
            font-family: $primary-font;
            font-size: 15px;
            color: #282828;
            margin-top: 30px;
        }
    }
}

.activeLink {
    border-bottom: 2px solid white;
    font-weight: 500;
    
}

.menu.show {
    display: flex !important;
  }
  